<div class="shop-widget best-seller mb-50">
    <h4 class="widget-title">Best Seller</h4>
    <div class="widget-desc">

        <!-- Single Best Seller Products -->
        <div class="single-best-seller-product d-flex align-items-center">
            <div class="product-thumbnail">
                <a href="shop-details.html"><img src="~/Anh/images/89.jpg" alt=""></a>
            </div>
            <div class="product-info">
                <a href="shop-details.html">Cây Nho Xanh</a>
                <p>3000000.00</p>
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>

        <!-- Single Best Seller Products -->
        <div class="single-best-seller-product d-flex align-items-center">
            <div class="product-thumbnail">
                <a href="shop-details.html"><img src="~/Anh/images/89.jpg" alt=""></a>
            </div>
            <div class="product-info">
                <a href="shop-details.html">Cây Ớt Xiêm Xanh</a><a href=""></a>
                <p>2120000.00</p>
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>

        <!-- Single Best Seller Products -->
        <div class="single-best-seller-product d-flex align-items-center">
            <div class="product-thumbnail">
                <a href="shop-details.html"><img src="~/Anh/images/29.jpg" alt=""></a>
            </div>
            <div class="product-info">
                <a href="shop-details.html">Cây Tùng Lộc Lai Bonsai Tiểu Cành</a>
                <p>1340000.00</p>
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>

    </div>
</div>
